img {
  width: 40px;
}

.burgerIngredients {
  width: 200px;
  margin-top: 150px;
  padding: 100px;
  text-align: center;
  display: inline-block;
}

.topSide{
  background-color: #b08d57;
  height: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bottomSide {
  background-color: #b08d57;
  height: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(180deg);
}

.burgerIngredients p {
  text-align: center;
  font-weight: bold;
}

.ingredientsBlock {
  width: 800px;
  display: inline-block;
  vertical-align: top;
  padding: 50px;
  margin-left: 100px;
}

.addBtn,
.removeBtn{
  background-color: #5b7790;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #3e5060;
}

.removeBtn:hover {
  background-color: #3e5060;
}

.meatSide {
  width: 80%;
  height: 8%;
  background: linear-gradient(#7f3608, #702e05);
  margin: 2% auto;
  border-radius: 15px;}

.meatSide img {
  width: 1px}

.saladSide {
  width: 85%;
  height: 7%;
  margin: 2% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px;}

.saladSide img {
  width: 1px;
}

.cheeseSide {
  width: 90%;
  height: 4.5%;
  margin: 2% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;}

.cheeseSide img {
  width: 1px;
}

.baconSide {
  width: 80%;
  height: 3%;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 2% auto;
}

.baconSide img {
  width: 1px;
}
